.gallery {

 display: grid;

 grid-template-columns: repeat(3, 1fr);
 grid-gap:1em;

 max-width: 40em;

 margin: 0 auto

}

.bigimg {

 grid-column: span 3;

}
#thumb {
    cursor: pointer;
}
